<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Guestbook</title>
</head>
<body>

    <h1>Spring Guestbook</h1>

    <div th:if="${entries.isEmpty()}">
        <p>There are no comments in the Guestbook. What a pity.</p>
    </div>

    <div th:if="${!entries.isEmpty()}">
        <table>
            <tr>
                <th>User</th><th>Comment</th>
            </tr>
            <tr th:each="entry: ${entries}">
                <td th:text="${entry.user}"></td>
                <td th:text="${entry.comment}"></td>
            </tr>
        </table>
    </div>

</body>
</html>